/* work sans font from google fonts   */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@800&family=Space+Mono:wght@700&family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared styles  */
*{    
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* header style starts here  */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    color: #131313;
    font-weight: 700;
    font-size: 3rem;
}

nav > ul{
    display: flex;
    list-style: none;
}

li{
    margin-right: 20px;
    font-weight: 500;  
    font-size: 1rem;
}

nav li a{
    text-decoration: none;
    color: #424242;
}
 /* banner starts here  */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    color: #131313;
    font-weight: 700;
    font-size: 4rem;
}
.banner-description{
    color: #727272;
    font-weight: 400;
}

.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    width: 180px;
    height: 64px;
    color: #FFF;
    font-size: 1rem;
}