/* work sans font from google fonts   */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@800&family=Space+Mono:wght@700&family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared styles  */
*{    
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.text-grey{
    color: #727272;
    font-weight: 400;
    margin-bottom: 24px;
}

.title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}

/* header style starts here  */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul{
    display: flex;
    list-style: none;
}

li{
    margin-right: 20px;
    font-weight: 500;  
    font-size: 1rem;
}

nav li a{
    text-decoration: none;
    color: #424242;
}
 /* banner starts here  */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    color: #131313;
    font-weight: 700;
    font-size: 4rem;
}

.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border: 0;
    width: 180px;
    height: 64px;
    cursor: pointer;
    margin-bottom: 20px;
}

.banner-img{
    width: 100%;
}
/* header ends here  */

/* main section  */
main{
    max-width: 1440px;
    margin: 70px auto;
}

/* feature section starts here   */
.feature-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}

.feature-title{
    font-size: 2.8rem;
    color: #131313;
    font-weight: 700;

}

.feature-info{
    color: #727272;
    font-weight: 400;
}

.feature-info{
    padding-right: 4.75rem;
    padding-left: 4.75rem;
}

#black{
    color: #131313;
}

#orange{
    color: #FF900E;
}

/* architect section starts here  */
.architect-container{
    display: flex;
    
}

.architect{
    max-width: 708px;
}

.architect-info{
    align-items: center;
    
}


/* facts section starts here  */

.facts-card-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;

}

.card-stats{
    font-size: 2.8rem;
     color: #424242;
     margin-bottom: 10px;
     margin-top: 10px;
     
}

.card-title{
    font-size: 1.25rem;
    color: #727272;
    font-weight: 600;
    margin-top: 5px;
}

/* sponsors section  */
.sponsor{
    text-align: center;
}

.sponsor-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

/* footer starts here  */
footer{
    text-align: center;
}


/* responsive media query  */
/* mobile devices  */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .feature-container, .architect-container{
        flex-direction: column;
    }
    .feature-img{
        grid-template-columns: 1fr;
    }
    .feature-info, .facts-card-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .architect{
        width: auto;
    }
    .facts-card-container{
        flex-direction: column;
        gap: 20px;
    }
    .sponsor-container{
        flex-direction: column;
        gap: 10px;
    }
}

/* tablet or medium devices  */
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    .feature-container{
        flex-direction: column;
    }
    .architect-container{
        flex-direction: column;
    }
    .facts-card-container{
        flex-direction: column;
    }
    .sponsor-container{
        flex-direction: column;
        gap: 10px;
    }
}
